@import "./src/assets/vars";
@import "./src/assets/mixins";
.navHeader {
  display: block;
  width: 100%;
  height: 4rem;
  .hide {
    display: none;
  }
  .linkBlock {
    @include linkStyle;
    span {
      position: relative;
      font-size: $fs-main;
      color: $black;
      margin: 1rem 0 1rem 2rem;
      top: 30%;
    }
    &:before {
      content: '\2190';
      position: absolute;
      margin: 0.7rem 0 0 0;
      color: $yellow;
      font-size: $fs-big;
    }
  }

  .searchBlock {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    @include borderStyle();
    input {
      width: 80%;
      border: none;
      padding: 0 1rem;
    }
    input:focus {
      outline: none;
    }
    img {
      width: $fs-big;
      height: $fs-big;
      padding: 0.3rem 0;
      cursor: pointer;
    }
    span {
      position: relative;
      font-size: $fs-main;
      color: $black;
      margin: 0 1rem;
      padding: 0.5rem 0;
      cursor: pointer;
    }
    .navSearch{
      display: inherit;
    }
  }
}

@media (max-width: 905px) {
  .navHeader {
    .searchBlock {
      width: 50%;
    }
  }
}
