@import "./src/assets/mixins";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include container;

  img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    padding: 0;
  }
  span {
    width: 60%;
    font-size: 2rem;
    margin-left: 1.3rem;
    padding: 0.2rem 0.5rem;
  }

}

