@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$ff-main: 'Roboto', sans-serif;
$color-main: #2D2D2D;
$color-boxShadow: rgba(0, 0, 0, 0.1);
$color-hoverBoxShadow: rgba(0, 0, 0, 0.5);
$yellow: #F1B926;
$grey: #B6C2B1;
$white: #fff;
$black: #2D2D2D;
$fs-main: 1rem;
$fs-large: 2rem;
$fs-big: 1.5rem;
$fs-small: 0.8rem;

